.whoop {
	padding: 10px;
	/* text-align: left; */
	border: 1px grey;
	border-style: solid none solid none;
	/* float: left; */
	width: 100%;
	height: 100%;
}

.whoop-Header-Left img {
	/* padding: 5px; */
	float: left;
	width: 50px;
	height: 50px;
}

.whoop-Header-Left {
	height: 50px;
}

.whoop-Header-Left-Text h3 {
	padding: 5px;
	float:left;
}
.whoop-Header-Left-Text p {
	padding: 5px;
	float:left;
}

.whoop-Header-Right-Text button{
	width: 30px;
	height: 30px;
	float: right;
	background-color: black;
	
}
.whoop-Header-Right-Text button:hover {
	
	background-color: #1d9bf0;
	/* color: deepskyblue; */
	opacity: 0.5;
	border-radius: 50px;
}

.whoop-Body {
	padding-left: 75px;
	position: relative;
	text-align: left;
}