.main {

}
.title {
    color: white;
}

.float_container {
    /* border: 2px solid grey;  */
    /* display: flex; */
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.float_child {
    flex: 1;
    width: 100%;
    /* float: left; */
    border: 2px solid red;
}