.main {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 3px solid green;
}
.signup_container {
	text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  border: 3px solid green;
}
.form {
	display:grid;
}
.form input {
	color: black;
}
.form button {
	margin-top: 10px;
	border-radius: 20px;
	background-color: #1d9bf0;
}